/*
 * containers
 */
.container {
  text-align: center;
  background-color: #011627;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
  position: absolute;
  top: 10%;
  left: 10%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s linear 0.3s;
  z-index: 1;
}

.container.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0s linear 0s;
  z-index: 10;
}

.header {
  margin-bottom: 20px;
  margin-top: 5%;
}

.header h1 {
  margin: 0;
  font-size: 2em;
}

.header h2 {
  margin: 0;
  font-size: 1.5em;
}